## Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [8]:
labels = ['a','b','c','d']
myList = [4,6,5,7]
myDict = {1:'a',2:'b',3:'c'}

In [4]:
pd.Series(data = myList)

0    4
1    6
2    5
3    7
dtype: int64

In [7]:
pd.Series(data = myList, index= labels)

a    4
b    6
c    5
d    7
dtype: int64

In [11]:
ser = pd.Series(data= myDict)
ser

1    a
2    b
3    c
dtype: object

In [12]:
ser[2]

'b'

## Pandas dataframe

In [13]:
pd.DataFrame(data = np.random.randn(4,5))

          0         1         2         3         4
0 -1.084831  0.662082  1.229296 -1.173107 -0.886319
1 -0.514232  0.083368  0.830008  0.326223  1.336331
2 -0.444762 -1.160563 -1.042255  1.557301 -1.136824
3  0.120252 -0.165140 -1.664193 -0.398283  0.821674

In [15]:
df = pd.DataFrame(data = np.random.randn(4,5), index= ['a','b','c','d'], columns= ['w','x','y','z','s'])

In [16]:
df

          w         x         y         z         s
a  0.721913 -0.945303  1.303015 -0.663001  0.915594
b  0.664966  0.707044  0.850207 -0.654548  0.409280
c -0.185355  1.614573  0.986864  1.408973 -0.829950
d  0.575428  1.742413  1.451520  1.099642 -1.380505

In [17]:
df['w']

a    0.721913
b    0.664966
c   -0.185355
d    0.575428
Name: w, dtype: float64

In [18]:
df[['w','s']]

          w         s
a  0.721913  0.915594
b  0.664966  0.409280
c -0.185355 -0.829950
d  0.575428 -1.380505

In [19]:
df['new_col'] = df['w'] + df['s']

In [20]:
df

          w         x         y         z         s   new_col
a  0.721913 -0.945303  1.303015 -0.663001  0.915594  1.637507
b  0.664966  0.707044  0.850207 -0.654548  0.409280  1.074246
c -0.185355  1.614573  0.986864  1.408973 -0.829950 -1.015305
d  0.575428  1.742413  1.451520  1.099642 -1.380505 -0.805077

In [21]:
df['new_col'] = [1,2,3,4]

In [22]:
df

          w         x         y         z         s  new_col
a  0.721913 -0.945303  1.303015 -0.663001  0.915594        1
b  0.664966  0.707044  0.850207 -0.654548  0.409280        2
c -0.185355  1.614573  0.986864  1.408973 -0.829950        3
d  0.575428  1.742413  1.451520  1.099642 -1.380505        4

In [23]:
df.shape

(4, 6)

In [26]:
df.drop('new_col', axis=1, inplace= True)

In [27]:
df

          w         x         y         z         s
a  0.721913 -0.945303  1.303015 -0.663001  0.915594
b  0.664966  0.707044  0.850207 -0.654548  0.409280
c -0.185355  1.614573  0.986864  1.408973 -0.829950
d  0.575428  1.742413  1.451520  1.099642 -1.380505